<h1>Interviewer</h1>
<h2><%=link_to "Add interviewer", new_interviewer_path%></h2>
<% @interviewer.each do |interviewer|%>
 <h3>Email :<%= interviewer.email %><br>
 Name:<%= interviewer.name %></h3>
<% end %>